@import "bootstrap";

body {
  padding-top: 56px;
}

div.field_with_errors {
   display: contents;

   input {
    border: 2px solid red;
  }
}

.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

// テーブル
th,
td {
  vertical-align: middle !important;
}

.break-word {
  word-break: break-word;
}
