@import "bootstrap";

div.field_with_errors {
   display: contents;

   input {
    border: 2px solid red;
  }
}

.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}
