@import "bootstrap";

body {
  padding-top: 56px;
}

.field_with_errors {
   display: contents;

   input,
   textarea {
    @extend .is-invalid;
  }
}

.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

// テーブル
th,
td {
  vertical-align: middle !important;
}

.break-word {
  word-break: break-word;
}

// フラッシュ

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}
